@{
    ViewData["Title"] = "Главная";
}

<div class = "container">
    <div class="jumbotron">
        <h1 class="display-3">Добро пожаловать!</h1>
        <p class="lead">Хочешь узнать какое возрастное ограничение твоей любимой игре согласно законодательству РФ? Достаточно ответить на пару вопросов!</p>
        <hr class="my-4">
        <p class="lead">
            @Html.ActionLink("Пройти опросник", "Questionnaire", "Home", null, new { @class = "btn btn-primary btn-lg", role = "button" })
        </p>
    </div>
</div>

