@{
    ViewData["Title"] = "Опросник";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">#1<span class="display-3"> Вопрос </span></h1>
        <hr class="my-4">

        @{
            using (Html.BeginForm("Questionnaire", "Home", null, FormMethod.Post))
            {
                <div class="row">
                    <div class="col ml-4">
                        <div class="form-group">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Да
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Нет
                            </label>
                        </div>
                    </div>
                </div>

                <hr class="my-3" />

                <div class="row">
                    <div class="col">
                        <button class="btn btn-light" role="btn" name="scrollBtn" value="prev">Назад</button>
                        <button class="btn btn-primary float-right" role="btn" name="scrollBtn" value="next">Далее</button>
                    </div>
                </div>
            }

        }
    </div>
</div>


